/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(https://fonts.googleapis.com/css?family=Exo:400,900,600);

html, body {
padding: 0px;
margin: 0px;
}

.btn {
  background: gold;
  color: black;
  font-weight: bold;
}

label.error {]
  font-size: 12px;
  color: red;
  font-weight: normal;
  }
