/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(https://fonts.googleapis.com/css?family=Exo:400,900,600);

html, body { height: 100%;}

body {
  background-color: #fcdc26;
  background-image: url(../images/bg-tecnicos.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  color: #4d4d4d;
  font-family: 'Helvetica', sans-serif;
  padding: 20px 0px;
}
@media (min-width: 992px) and (max-width: 1400px){
  body {background-size: 100% auto;}
}
@media (min-width: 768px) and (max-width: 991px){
   // body { background-position: right top;}
   body {background-size: 150% auto;}
}
@media (max-width: 767px){
  body { background-position: right top;}
}


body sup {
  font-size: 10px;
}

/*TESTE*/
.list-radios label.error {
  position: absolute;
  margin-top: -10px;
}
label.error{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;

}
.box-curso .error {
  position: absolute;
  margin-top: -23px;
}
a:hover {
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}
.yellow-color {color:gold;}
.blue-color {color:#083f88;}
.green-color {color:#119547;}

/* MAIN
-------------------------------------------------- */
.container {
 height: 100%;
}
.table {
  height: 100%;
  display: table;
  background: transparent !important;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  background: transparent !important;
}
.confirma h3 {
  font-size: 32px;
  text-align: center;
}

/* MAIN
-------------------------------------------------- */

/* Destaque
------------------------- */
.destaque {
  text-align: center;
  padding: 25px 0px 0px 0px;
  font-family: 'Exo', sans-serif;
}
.destaque .imagem {
}
.destaque .imagem img {
  max-width: 100%;
}
.destaque .texto {
  color: white;
  padding: 25px;
  ;
}
.destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p  {
  padding: 15px 0px;
  margin: 0px;
}
.destaque .texto h1 {
  font-size: 48px;
  line-height: 42px;
  color: white;
  font-weight: 600;
}
.destaque .texto h1 span {background: #083f88; padding: 0px 15px;}
.destaque .texto h2 {
  font-size: 22px;
  // font-weight: 600;
  line-height: 20px;
  color: #4d4d4d;
  width: 80%;
  margin: 0 auto;
}
.destaque .texto h2 span {background: #083f88; padding: 10p}
.destaque .texto h3 {
  color: #119547;
  font-size: 30px;
}
.destaque .texto h3 span {
  color: #083f88;
}
.desconto {
  background: #083f88;
  padding: 20px;
  text-align: center;
}
.desconto h3 {
  font-family: 'Exo', sans-serif;
  font-size: 26px;
  color: gold;
  font-weight: 900;
  margin: 0px;
  width: 90%;
  margin: 0 auto;
}

.desconto h3 small {
    font-weight: 900;
    font-family: 'Exo', sans-serif;
    color: gold;
    line-height: 0;
}

.confirma h1 {color: #083f88 !important;}
.confirma h2 {}
.confirma p {color: #4d4d4d !important; font-family: 'helvetica', sans-serif;}
/* Formulário
-------------------------------------------------- */
.formulario {
  background: white;
  padding: 30px 0px 20px 0px;
  font-weight: 600;
  font-family: 'Helvetica', sans-serif;
}
.formulario p {
  text-align: center;
  font-size: 18px;
}
.formulario h4 {
  font-size: 16px;
  font-weight:  600;
  padding: 20px 0px;
}
.formulario .error {
  font-size: 12px;
}
form .list-radios{
  padding-bottom: 20px;
}
form .nav li label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
}
input[type=radio] {
  margin: 0px;
}
/* Input Radio */
input.radio:empty {
  margin-left: -9999px;
  float: left;
}
input.radio:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  text-transform: uppercase;
}
input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.radio:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.radio:hover:not(:checked) ~ label {
  color: #888;
}
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: gold;
  background-color: #083f88;
}
input.radio:checked ~ label {
  color: #083f88;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}

/* Input Curso */
form .list-cursos .box-curso{
  padding-bottom: 20px;
}
input.curso:empty {
  margin-left: -9999px;
  float: left;
}
input.curso:empty ~ label {
  line-height: 1.3em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #C2C2C2;
  font-weight: 600;
}
input.curso:empty ~ label:before {
  display: none;
}
input.curso:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.curso:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.curso:hover:not(:checked) ~ label {
  color: #888;
}
input.curso:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #083f88;
}
input.curso:checked ~ label {
  color: gold;
  background-color: #083f88;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}
.formulario .form-control {
  height: 50px;
  border-radius: 0px;
  font-size:  12px;
}
.formulario .btn, .formulario .btn:focus  {
   font-family: 'Exo', sans-serif;
  background-color: #083f88;
  float: right;
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  font-size: 24px;
  color: gold;
}
.formulario .btn:hover {
  background-color:#119547;
  // color: white;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}

@media (max-width: 480px){
  .formulario div {
  padding-left: 5px;
  padding-right: 5px;
  }
}


/* Infos
------------------------- */
.infos {
  text-align: left;
  padding: 20px 0px;
  color: white;
}
.infos .info-bloco, .infos .info-bloco .content, .infos .info-bloco .icon  {
  height: 60px;
  padding-right: 0px;
  padding-left: 0px;
}
.infos .info-bloco .icon {
  width: 70px;
  float: left;
}
.infos .info-bloco .icon i {
  background: gold;
  color: black;
  padding: 15px;
  font-size: 16px;
  border-radius: 100%;
}
.infos .info-bloco .content {
  font-size: 13px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
.infos .info-bloco .content h3 {
  font-size: 16px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
.infos .info-bloco .content .btn {
  background: gold;
  color: black;
  font-size: 12px;
  border: 1px solid gold;
}
.infos .info-bloco .content .btn:hover {
  background: transparent;
  color: gold;
  font-size: 12px;
  border: 1px solid gold;
}
.infos .info-bloco .content .bt {
  color: gold;
  font-size: 12px;
}

/* MODAL
------------------------- */
/*.modal-body {
  padding: 0px;
}*/
.modal-header .close {
    margin-top: -7px;
}
.modal-header {
    padding: 30px;
    border-bottom: none;
}


/* FOOTER
------------------------- */
footer .copy {
  padding: 30px 0px;
  text-align: center;
  color: #4d4d4d;
  font-weight: normal;
}
footer p, footer h4 {
  font-size: 14px;
}
footer a {
  color:  #083f88;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer strong{
  font-weight: 600;
}
footer .logo {
  text-align: center;
  margin-bottom: 40px;
}
footer .logo img {
  text-align: center;
  display: inline-block;
  width: 100px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* MEDIA MD */
@media (min-width: 992px) and (max-width: 1199px){
  .destaque .texto {
  padding: 0px;
  }
  .destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p {
  padding: 15px 0px;
  margin: 0px;
  }
  .destaque .texto h2 {margin: 0 auto;}
  .destaque .texto h1 {
  font-size: 35px;
  line-height: 35px;
  }
}

/* MEDIA SM */
@media (min-width: 768px) and (max-width: 991px){
  .formulario {
  padding: 30px 0px;
  }
  .destaque .imagem {
  padding-left: 0px;
  padding-right: 0px;
  }
  .destaque .texto {
  padding: 0px;
  }
  .destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p {
  padding: 10px 0px;
  margin: 0px;
  }
  .destaque .texto h1 {
  font-size: 34px;
  line-height: 36px;
  }
  .destaque .texto h2 {margin: 0 auto;}
  .destaque .texto h2, .destaque .texto h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  }
  .destaque .texto p {
  font-size: 16px;
  }
  .destaque .texto .selos {
  padding: 20px 0px;
  }
  .destaque .texto .selos .texto-selos {
  text-align: center;
  padding: 10px 0px 0px 0px;
  border: none;
  }
  .destaque .texto .selos .imagem img {
  max-width: 80%;
  }
  .desconto h3 {
  font-size: 22px;
  width: 90%;
  }
}

/* MEDIA XS */
@media (max-width: 767px){
  .logo {
    padding: 20px 0px;
  }
   .formulario {
  padding: 30px 0px;
  }
  .formulario .btn{
  width: 100%;
  height: 50px;
  }
  .destaque {
    padding: 0px;
  }
  .destaque .texto {
  padding: 0px 0px 25px 0px;
  }
  .destaque .texto .selos .texto-selos {
    text-align: center;
    padding: 20px 0px 0px 0px;
    border: none;
  }
  .destaque .texto .selos .imagem img {
    max-width: 30%;
  }
  .infos .info-bloco {
    margin: 20px 0px;
  }
  input.curso:empty ~ label {
    padding: 20px;
  }
  footer .copy {
  font-size: 12px;
  }
  form .list-cursos .box-curso {
    padding: 5px;
  }
  .desconto h3 {
  font-size: 18px;
  width: 90%;
  }
  footer p, footer h4 {
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  .desconto .info-bloco {
    width: 100%;
    margin: 0px;
  }
}

@media (max-width: 480px){
  .destaque .texto h1 {
  font-size: 32px;
  line-height: 28px;
  }
  .destaque .texto .selos {
    display: none;
  }
  .destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p {
    padding: 10px 0px;
    margin: 0px;
  }
  .destaque .texto h1 {
    font-size: 24px;
  }
  .destaque .texto h2 {
    font-size: 16px;
    line-height: 16px;
    width: 90%;
    margin: 0 auto;
  }
  .destaque .texto h3 {
    font-size: 16px;
  }
  input.curso:empty ~ label {
    font-size: 12px;
  }
  .box-curso {
    width: 100%;
  }
  .desconto h3 {
  font-size: 16px;
  width: 90%;
  font-weight: 300;
  }
  .formulario, .formulario .btn {
  font-size: 14px;
  }
  .formulario .btn {
  font-size: 18px;
  }
}
