/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body { height: 100%;}

body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0px; 
}

a:hover {
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;  
  transition        : .3s;
}

.yellow-color {color:gold;}
.blue-color {color:#083f88;}
.green-color {color:#119547;}
.red-color {color: red;}

/* MAIN
-------------------------------------------------- */
.container {
 height: 100%; 
}
.table {
  height: 100%;
  display: table;
  background: transparent !important;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  background: transparent !important;
}

/* MAIN
-------------------------------------------------- */
.logo {
  padding-bottom: 50px;
  text-align: center;
}
.logo img {
  text-align: center;
  display: inline-block;
  width: 100px;
}

/* Banner
-------------------------------------------------- */
.banner {
}
.banner h1 {
  font-size: 18px;
  /*text-align: center;*/
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
.line {
  margin: 20px 0px;
  height: 2px;
  background: #111111;
}

/* Contador
-------------------------------------------------- */

.relogio, .contador {padding-right: 0px;}
.contador .bloco {
  text-align: center;
  background: #111;
  /*color: gold;*/
  border: 1px solid black;
  height: 80px;
  padding: 10px 0px;
}
.contador .numero {
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  color: gold;
}
.contador .bloco p {
  font-size: 14px;
  margin: 3px 0px -7px 0px;
  padding: 0px;
}

/* Formulário
-------------------------------------------------- */
.formulario {
  background: black;
  /*padding: 20px 10px 20px 10px;*/
  /*margin: 20px 0px;*/
  padding-left:  0px;
  padding-right:  0px;
}
.formulario form > .col-md-12 {
  padding-left:  0px;
  padding-right:  0px;
}
.formulario p {
  /*text-align: center;*/
  font-size: 13px;
}
.formulario h2, .formulario h3 {
  font-size: 15px;
  margin-bottom:  40px;
  text-transform: uppercase;  
  text-align:   center;
}
.formulario .fields {
  margin-top: 30px;
}
.box-curso {
  padding: 0px;
  height: 120px;
}
/*#accordion .panel .panel-collapse .panel-body {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Input Curso */
input.curso:empty {
  margin-left: -9999px;
  float: left;
}
input.curso:empty ~ label {
  line-height: 1.3em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 120px;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #111111;
  font-size: 12px;
  text-transform: uppercase; 
  border: 1px solid #000000;
}
input.curso:empty ~ label .small {
  color: #888888;
}
input.curso:empty ~ label:before {
  display: none;
}
input.curso:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: gold;
  /*border: 1px solid gold;*/
}
input.curso:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.curso:hover:not(:checked) ~ label {
  /*color: #888;*/
  color: gold;
  border: 1px solid gold;
  background: black;
   -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;  
  transition        : .3s;
}
input.curso:checked ~ label {
  color: black;
  background-color: gold;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;  
  transition        : .3s;
}
input.curso:checked ~ label .small {
  color: black;
}
.formulario .form-control {
  height: 50px;
  border-radius: 0px;
  font-size:  12px;
  background: #111111;
  border: none;
  color: #999999;
}
.formulario .btn {
  background-color: gold;
  float: right;
  border: 1px solid gold;
  border-radius: 0px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: black;
  margin-top: 20px;
}
.formulario .btn:hover {
  background-color:transparent;
  color: gold; 
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;  
  transition        : .3s; 
}
.confirma {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  text-align: center;
}
.confirma div {
  background: #111111;
  padding: 30px;
}
.confirma h4 {
  /*color: gold !importat;*/
  font-size: 32px;
}

/* Accordion
------------------------- */
#accordion {
  background: black; 
}
#accordion .panel {background: black; border-radius: 0px; }
#accordion .panel:hover {
  border-color: gold;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;  
  transition        : .3s;
}
#accordion .panel a {color: white;}
/*#accordion .panel a:hover {color: gold;}*/
#accordion .panel:hover h4{color: gold;}
#accordion .panel a:hover, #accordion .panel a:focus {text-decoration: none;}
#accordion .panel .panel-heading {}
#accordion .panel .panel-heading h4 .glyphicon { font-size: 12px;}
#accordion .panel .panel-collapse {}
#accordion .panel .panel-collapse .panel-body {padding-left: 15px; padding-right:15px;}


/* Infos
------------------------- */
.infos {
  text-align: left;
  padding: 20px 0px;
  color: white;
  font-size: 12px;
}
.infos a {
  color: gold;
}


/* FOOTER
------------------------- */
footer .copy {
  padding: 60px 0px;
  /*border-top: 1px solid gold;*/
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* MEDIA MD */
@media (min-width: 992px) and (max-width: 1199px){
}

/* MEDIA SM */
@media (min-width: 768px) and (max-width: 991px){ 
  .relogio, .contador {
    padding-right: 0px;
    height: 85px;
    padding-left: 0px;
    margin: 20px 0px;
  }
  .formulario {
    padding: 0px 10px 20px 10px; 
  }
}

/* MEDIA XS */
@media (max-width: 767px){
  .formulario {
  padding: 0px 10px 30px 10px;
  }
  .formulario .btn{
  width: 100%;
  height: 50px;
  }
  .destaque .texto h2 {
  font-size: 14px;
  }
  input.curso:empty ~ label {
    padding: 20px;
  }
  footer .copy {
  padding:  60px 0px;
  }
  .relogio, .contador {
    padding-right: 0px;
    height: 85px;
    padding-left: 0px;
    margin: 20px 0px;
  }
}

@media (max-width: 480px){
  input.curso:empty ~ label {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .box-curso {
    width: 100%;
  }
}