<!-- Matricula -->
<p><sup>1</sup> Desconto exclusivo de 90% na matr&#237;cula de novatos no Curso de <a href="http://fate.edu.br/curso/{{cursolink}}/" target="_blank"><strong>Gradua&#231;&#227;o em {{curso}}</strong></a> da Faculdade Ateneu para o semestre de 2016.2, efetuadas at&#233; o dia {{data}}.</p>
<br>
<!-- Transferencia -->
<p><sup>2</sup> Desconto Especial de 35% em todas mensalidade do curso de <a href="http://fate.edu.br/curso/{{cursolink}}/" target="_blank"><strong>Gradua&#231;&#227;o em {{curso}}</strong></a> da Faculdade Ateneu, referente as matr&iacute;culas efetuadas via processo de Transfer&ecirc;ncia de Curso ou Segunda Gradua&ccedil;&atilde;o  at&eacute; o dia {{data}}, com exceção das taxas de rematrícula a partir do segundo semestre.</p>
<br>
<!-- ENEM -->
<p><sup>2</sup> Desconto Especial de 35% em todas mensalidades do curso de <a href="http://fate.edu.br/curso/{{cursolink}}/" target="_blank"><strong>Gradua&#231;&#227;o em {{curso}}</strong></a> da Faculdade Ateneu no semestre de 2016.2, referente a matr&#237;culas de novatos efetuadas at&#233; o dia {{data}} por meio do resultado do ENEM. com exceção das taxas de rematrícula a partir do segundo semestre.</p>
<br>
<!-- Vestibular -->
<p><sup>2</sup> Desconto Especial de 50% nas 2 primeiras mensalidade + 20% de desconto até final do curso de <a href="http://fate.edu.br/curso/{{cursolink}}/" target="_blank"><strong>Gradua&#231;&#227;o em {{curso}}</strong></a> da Faculdade Ateneu no semestre de 2016.2, referente a matr&#237;culas de novatos efetuadas por meio do processo de vestibular at&#233; o dia {{data}}, com exceção das taxas de rematrícula a partir do segundo semestre.</p>
<br>
<p><sup>*</sup> Ganhe mais 5% desconto nas mensalidades pagas até o dia 5 de cada mês.</p>
<br>
<p>Promo&#231;&#227;o n&#227;o cumulativa com outras promo&#231;&#245;es e bolsas da Faculdade Ateneu.</p>
<br>
<p>&#169; 2016 Faculdade Ateneu. Todos os direitos reservados.</p>
