/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url(https://fonts.googleapis.com/css?family=Exo:400,900,600);

html, body { height: 100%;}

body {
  background-color: #1282f3;
  background-image: url(../images/bg-site.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #4d4d4d;
  font-family: 'Helvetica', sans-serif;
  padding: 20px 0px;
}

body sup {
  font-size: 10px;
}

/*TESTE*/
.list-radios label.error {
  position: absolute;
  margin-top: -10px;
  font-size: 11px;
}
label.error{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  font-size: 11px;

}
.box-curso .error {
  position: absolute;
  margin-top: -23px;
}
a:hover {
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}
.yellow-color {color:gold;}
.blue-color {color:#083f88;}
.green-color {color:#119547;}

/* MAIN
-------------------------------------------------- */
.container {
 height: 100%;
}
.table {
  height: 100%;
  display: table;
  background: transparent !important;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  background: transparent !important;
}
.confirma h3 {
  font-size: 32px;
  text-align: center;
}

/* MAIN
-------------------------------------------------- */
.logo {
  // padding-bottom: 0px;
  text-align: center;
}
.logo img {
  text-align: center;
  display: inline-block;
  width: 100px;
}

/* Destaque
------------------------- */
.destaque {
  text-align: center;
  padding: 15px 0px;
  font-family: 'Exo', sans-serif;
}
.destaque .imagem {
}
.destaque .imagem img {
  max-width: 100%;
}
.destaque .texto {
  color: white;
  padding: 25px 0px 0px 0px;
}
.destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p  {
  padding: 15px 0px;
  margin: 0px;
}
.destaque .texto h1 {
  font-weight: bold;
  text-align: center;
  font-size: 54px;
  line-height: 54px;
}
.destaque .texto h1 span {
  font-size: 34px;
}
.destaque .texto h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  width: 80%;
  margin: 0 auto;
}
.destaque .texto h3 {
  font-size: 24px;
  line-height: 32px;
}
.destaque .texto h2 .label {
  background: gold;
  color: #083f88;
  font-weight: 600;
}
.destaque .texto p {
  font-size: 16px;
}
.destaque .texto .selos {
  padding: 30px 0px;
}
.destaque .texto .selos .texto-selos {
  text-align: right;
  padding: 20px 20px 20px 0px;
  border-right: 1px solid white;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}
.destaque .texto .selos .imagem img {
  text-align: left;
  max-width: 100%;
  margin-top: 5px;
}

/* Desconto
------------------------- */
.desconto {
  background: gold;
  color: #4d4d4d;
  // padding: 20px;
  text-align: center;

}
.desconto h3 {
  font-size: 16px;
  color: #4d4d4d;
  // font-weight: 600;
  margin:   0px;
  padding: 20px;
}
.desconto .infos {
  margin-top: 0px;
  padding: 0px;
  font-family: 'Exo', sans-serif;
  background: transparent;
}
.desconto .infos .info-bloco .icon {
  width: 60px;
}
.desconto .infos .info-bloco .icon i {
  background: #083f88;
  color: gold;
  padding: 15px;
  font-size: 18px;
  border-radius: 100%;
}
.desconto .infos .info-bloco .content {
  color: #4d4d4d;
  font-weight: 600;
  text-shadow: none;
  line-height: 14px;
}
.desconto .infos .info-bloco .content span {
  font-size: 16px;
  font-weight: 600;
  color: #083f88;
}

/* Formulário
-------------------------------------------------- */
.formulario {
  background: white;
  padding: 20px 10px 20px 10px;
  font-weight: 600;
}
.formulario p {
  text-align: center;
  font-size: 18px;
}
.formulario h4 {
  font-size: 16px;
  font-weight:  600;
  padding: 5px 0px;
  font-family: 'Exo', sans-serif;
}
form .list-radios{
  padding-bottom: 20px;
  text-align: left;
}
form .nav li label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
}
input[type=radio] {
  margin: 0px;
}
/* Input Radio */
input.radio:empty {
  margin-left: -9999px;
  float: left;
}
input.radio:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Exo', sans-serif;
}
input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.radio:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.radio:hover:not(:checked) ~ label {
  color: #888;
}
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: gold;
  background-color: #083f88;
}
input.radio:checked ~ label {
  color: #083f88;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}

/* Input Curso */
form .list-cursos .box-curso{
  padding-bottom: 20px;
}
input.curso:empty {
  margin-left: -9999px;
  float: left;
}
input.curso:empty ~ label {
  line-height: 1.3em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #C2C2C2;
  font-weight: 600;
}
input.curso:empty ~ label:before {
  display: none;
}
input.curso:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.curso:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}
input.curso:hover:not(:checked) ~ label {
  color: #888;
}
input.curso:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #083f88;
}
input.curso:checked ~ label {
  color: gold;
  background-color: #083f88;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}
.formulario .form-control {
  height: 50px;
  border-radius: 0px;
  font-size:  12px;
}
.formulario .btn {
  background-color: gold;
  float: right;
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: black;
  // margin-top: 20px;
  font-family: 'Exo', sans-serif;
}
.formulario .btn:hover {
  background-color:#083f88;
  color: gold;
  -o-transition     : .3s;
  -ms-transition    : .3s;
  -moz-transition   : .3s;
  -webkit-transition: .3s;
  transition        : .3s;
}

@media (max-width: 480px){
  .formulario div {
  padding-left: 5px;
  padding-right: 5px;
  }
}


/* Infos
------------------------- */
.infos {
  margin-top: 20px;
  background: rgba(12, 30, 60, 0.5);
  text-align: left;
  padding: 30px 0px;
  color: white;
  // min-height: 160px;
  height: auto;
}
.infos .info-bloco, .infos .info-bloco .content, .infos .info-bloco .icon  {
  height: 80px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.infos .info-bloco .icon {
  width: 70px;
  float: left;
}
.infos .info-bloco .icon i {
  background: gold;
  color: black;
  padding: 15px;
  font-size: 16px;
  border-radius: 100%;
}
.infos .info-bloco .content {
  font-size: 14px;
}
.infos .info-bloco .content h3 {
  font-size: 16px;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
.infos .info-bloco .content .btn {
  background: gold;
  color: black;
  font-size: 12px;
  border: 1px solid gold;
}
.infos .info-bloco .content .btn:hover {
  background: transparent;
  color: gold;
  font-size: 12px;
  border: 1px solid gold;
}
.infos .info-bloco .content .bt {
  color: gold;
  font-size: 12px;
}

/* MODAL
------------------------- */
/*.modal-body {
  padding: 0px;
}*/
.modal-header .close {
    margin-top: -7px;
}
.modal-header {
    padding: 30px;
    border-bottom: none;
}


/* FOOTER
------------------------- */
footer .copy {
  background: rgba(12, 30, 60, 0.5);
  padding: 40px;
  text-align: center;
  color: white;
  font-weight: normal;
  margin-top: 20px;
}
footer p, footer a, footer h4 {
  font-size: 14px;
}
footer a {
  color: gold;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: gold;
}
footer strong{
  font-weight: 600;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* MEDIA MD */
@media (min-width: 992px) and (max-width: 1199px){
  .destaque .texto {
    padding: 0px;
  }
  .destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p {
    padding: 15px 0px;
    margin: 0px;
  }
  .destaque .texto h2 {margin: 0 auto;}
  .destaque .texto h1 {
  font-size: 45px;
  line-height: 40px;
  }
}

/* MEDIA SM */
@media (min-width: 768px) and (max-width: 991px){
  .formulario {
  padding: 20px 10px 30px 10px;
  }
  /* Destaque
  ------------------------- */
  .destaque .imagem {
    padding-left: 0px;
    padding-right: 0px;
  }
  .destaque .texto {
    padding: 0px;
  }
  .destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p {
    padding: 10px 0px;
    margin: 0px;
  }
  .destaque .texto h1 {
    font-size: 34px;
    line-height: 30px;
  }
  .destaque .texto h1 span {
    font-size: 24px;
  }
  .destaque .texto h2 {margin: 0 auto;}
  .destaque .texto h2, .destaque .texto h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .destaque .texto p {
    font-size: 16px;
  }
  .destaque .texto .selos {
    padding: 20px 0px;
  }
  .destaque .texto .selos .texto-selos {
    text-align: center;
    padding: 10px 0px 0px 0px;
    border: none;
  }
  .destaque .texto .selos .imagem img {
    max-width: 80%;
  }
}

/* MEDIA XS */
@media (max-width: 767px){
  body {
  background-position: right top;
  background-attachment: fixed;
  }
  .logo {
    padding: 20px 0px;
  }
  .formulario {
  padding: 0px 10px 30px 10px;
  }
  .formulario .btn{
  width: 100%;
  height: 50px;
  }
  .destaque {
    padding: 0px;
  }
  .destaque .texto {
  padding: 0px 0px 25px 0px;
  }
  .destaque .texto .selos .texto-selos {
    text-align: center;
    padding: 20px 0px 0px 0px;
    border: none;
  }
  .destaque .texto .selos .imagem img {
    max-width: 30%;
  }
  input.curso:empty ~ label {
    padding: 20px;
  }
  footer p, footer h4, footer a {
  font-size: 12px;
  }
  form .list-cursos .box-curso {
    padding: 5px;
  }

}

@media (max-width: 560px) {
  .desconto .info-bloco {
    width: 100%;
    margin: 0px;
  }
}

@media (max-width: 480px){
  .destaque .texto h1 {
  font-size: 32px;
  line-height: 28px;
  }
  .destaque .texto .selos {
    display: none;
  }
  .destaque .texto h1, .destaque .texto h2, .destaque .texto h4, .destaque .texto p {
    padding: 10px 0px;
    margin: 0px;
  }
  .destaque .texto h2 {
    font-size: 16px;
    line-height: 22px;
    width: 100%;
  }
  .infos .info-bloco .icon {
    width: 55px;
  }
  .infos .info-bloco .content h3, .infos .info-bloco .content {
    font-size: 12px;
  }
  input.curso:empty ~ label {
    font-size: 12px;
  }
  .box-curso {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .infos .info-bloco .icon {
  display: none;
  }
}
